<link href="~/css/styleTrainerSport.css" rel="stylesheet" type="text/css" />
<link href="~/css/styleBackground.css" rel="stylesheet" type="text/css" />
<h2>Тренеры</h2>
<br />
<form style="margin-left: 200px" method="post" action="~/Home/TrainerSport">
    <input type="text" name="filter" placeholder="Поиск по фамилии..." />
    <input type="text" name="filter2" placeholder="Поиск по имени..." />
    <input type="text" name="filter3" placeholder="Поиск по отчеству..." />
    <select name="filter4">
        <option disabled selected>Поиск по спорту...</option>
        @{
            foreach(var s in Model.allSport)
            {
                <option>@s.sport_name</option>
            }
        }
    </select>
    <input type="submit" value="Поиск" />
</form>
<form style="margin-left: 200px" method="post" action="~/Home/ExportTrainerSport">
    <input type="submit" value="Скачать" />
</form>
<br />
<table>
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Пол</th>
            <th>Дата рождения</th>
            <th>Телефон</th>
            <th>Тренерское занятие</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(var t in Model.allTrainer)
            {
                <tr>
                    <td>@t.f_name</td>
                    <td>@t.s_name</td>
                    <td>@t.m_name</td>
                    <td>@t.gender</td>
                    <td>@t.birthday</td>
                    <td>@t.phone</td>
                    @{
                        foreach(var s in Model.allSport){
                            if(s.Id == t.sportId){
                                <td>@s.sport_name</td>
                                break;
                            }
                        }
                    }
                </tr>
            }
        }
    </tbody>
</table>